<div class="content-wrapper">
    <section class="content">
        <div class="row">
            <div class="col-xs-12">
                <div class="box">
                    <div class="box-header">
                        <h3 class="box-title">Quản Lý Nhà Cung Cấp</h3>
                    </div>
                    <div class="col-md-12 mb-3">
                        <button class="btn btn-outline-primary" (click)="onCreate()"><i class="fa fa-plus"></i> Thêm NCC</button>
                    </div>
                    <div class="box-body">
                        <p-table selectionMode="single" [value]="data" styleClass="p-datatable-striped">
                            <ng-template pTemplate="header">
                                <tr>
                                    <th style="width: 10%;">Mã NCC</th>
                                    <th>Tên NCC</th>
                                    <th>Địa Chỉ</th>
                                    <th>Số Điện Thoại</th>
                                    <th>Tùy chọn</th>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="body" let-item let-i="rowIndex">
                                
                                <tr>
                                    <td>{{item.maNcc}}</td>
                                    <td>{{item.tenNcc}}</td>
                                    <td>{{item.diaChi}}</td>
                                    <td>{{item.sdt}}</td>
                                    
                                    <td class="action-col" >
                                        <button type="button" (click)="onEdit(item)" class="btn btn-icon rounded-circle btn-outline-warning mr-1 mb-1 waves-effect waves-light">
                                            <i class="fa fa-edit"></i>
                                        </button>
                                        <button type="button" (click)="onDelete(item)" class="btn btn-icon rounded-circle btn-outline-danger mr-1 mb-1 waves-effect waves-light">
                                            <i class="fa fa-trash"></i>
                                        </button>
                                    </td>
                                </tr>
                            </ng-template>
                        </p-table>
                    </div>
                    <div class="box-footer">
                        <div class="col-xs-12" style="text-align: right;">
                            <ngb-pagination [collectionSize]="totalRecords" [pageSize]="pageSize" [(page)]="page" [maxSize]="10" [rotate]="true" (pageChange)="onLoadPage($event)"></ngb-pagination>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<div class="modal" id="myModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="titlesua">{{ isCreate ? "Thêm nhà cung cấp" : "Sửa nhà cung cấp" }}</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <form [formGroup]="form" (ngSubmit)="onSubmit()" data-parsley-validate class="form-horizontal form-label-left">
                <div class="modal-body">
                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">
                            Tên nhà cung cấp <span class="required">*</span>
                        </label>
                        <div class="col-md-9 col-sm-9 col-xs-12">
                            <input type="text" class="form-control" formControlName="TenNcc">
                            <ng-container *ngIf="submitted && f.TenNcc.errors">
                                <div *ngIf="f.TenNcc.errors.required" class="alert alert-danger mt-1">Vui lòng nhập tên nhà cung cấp</div>
                            </ng-container>
                        </div>
                    </div> 	
                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">
                            Địa chỉ <span class="required">*</span>
                        </label>
                        <div class="col-md-9 col-sm-9 col-xs-12">
                            <input type="text" class="form-control" formControlName="DiaChi">
                            <ng-container *ngIf="submitted && f.DiaChi.errors">
                                <div *ngIf="f.DiaChi.errors.required" class="alert alert-danger mt-1">Vui lòng nhập tên nhà cung cấp</div>
                            </ng-container>
                        </div>
                    </div> 	
                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">
                            Số điện thoại <span class="required">*</span>
                        </label>
                        <div class="col-md-9 col-sm-9 col-xs-12">
                            <input type="text" class="form-control" formControlName="Sdt">
                            <ng-container *ngIf="submitted && f.Sdt.errors">
                                <div *ngIf="f.Sdt.errors.required" class="alert alert-danger mt-1">Vui lòng nhập tên nhà cung cấp</div>
                            </ng-container>
                        </div>
                    </div> 	

                   

                    
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-success">Lưu</button>
                    <button class="btn btn-primary" type="reset">Làm mới</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Đóng</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div ndt-loading *ngIf="loading"></div>