<div class="content-wrapper">
    <section class="content">
        <div class="row">
            <div class="col-xs-12">
                <div class="box">
                    <div class="box-header">
                        <h3 class="box-title">Quản Lý Sản Phẩm</h3>
                    </div>
                    <div class="col-md-12 mb-3">
                        <button class="btn btn-outline-primary" (click)="onCreate()"><i class="fa fa-plus"></i> Thêm Sản Phẩm</button>
                    </div>
                    <div class="box-body">
                        <p-table selectionMode="single" [value]="data" styleClass="p-datatable-striped">
                            <ng-template pTemplate="header">
                                <tr>
                                    <th>Mã Sản Phẩm</th>
                                    <th>Tên Sản Phẩm </th>
                                    <th>Mô Tả</th>
                                    <th>Mã Loại</th>   
                                    <th>Ảnh</th>   
                                    <th>Số Lượng</th>
                                    <th>Giá</th>
                                    <th>Tùy chọn</th>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="body" let-item let-i="rowIndex">
                                
                                <tr>
                                    <td>{{item.maSp}}</td>
                                    <td>{{item.tenSp}}</td>
                                    <td innerHTML="{{item.moTa | truncate:60}}"></td>
                                    <td>{{item.maLoai}}</td>
                                    <td><img src="{{item.anh | getImage:1}}" height="80" width="80"></td>
                                    <td>{{item.soLuong}}</td>
                                    <td>{{item.gia}}</td>
                                    
                                    <td class="action-col" >
                                        <button type="button" (click)="onEdit(item)" class="btn btn-icon rounded-circle btn-outline-warning mr-1 mb-1 waves-effect waves-light">
                                            <i class="fa fa-edit"></i>
                                        </button>
                                        <button type="button" (click)="onDelete(item)" class="btn btn-icon rounded-circle btn-outline-danger mr-1 mb-1 waves-effect waves-light">
                                            <i class="fa fa-trash"></i>
                                        </button>
                                    </td>
                                </tr>
                            </ng-template>
                        </p-table>
                    </div>
                    <div class="box-footer">
                        <div class="col-xs-12" style="text-align: right;">
                            <ngb-pagination [collectionSize]="totalRecords" [pageSize]="pageSize" [(page)]="page" [maxSize]="10" [rotate]="true" (pageChange)="onLoadPage($event)"></ngb-pagination>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<div class="modal" id="myModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="titlesua">{{ isCreate ? "Thêm sản phẩm" : "Sửa sản phẩm" }}</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <form [formGroup]="form" (ngSubmit)="onSubmit()" data-parsley-validate class="form-horizontal form-label-left">
                <div class="modal-body">
                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">
                            Tên Sản Phẩm <span class="required">*</span>
                        </label>
                        <div class="col-md-9 col-sm-9 col-xs-12">
                            <input type="text" class="form-control" formControlName="TenSP">
                            <ng-container *ngIf="submitted && f.TenSP.errors">
                                <div *ngIf="f.TenSP.errors.required" class="alert alert-danger mt-1">Vui lòng nhập tên sản phẩm</div>
                            </ng-container>
                        </div>
                    </div> 	
                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">
                            Loại <span class="required">*</span>
                        </label>
                        <div class="col-md-9 col-sm-9 col-xs-12">
                            <select formControlName="MaLoai" class="form-control">
                                <option *ngFor="let item of loaisps" value="{{item.maLoaiSp}}">{{item.tenLoaiSp}}</option>
                            </select>
                            <ng-container *ngIf="submitted && f.MaLoai.errors">
                                <div *ngIf="f.MaLoai.errors.required" class="alert alert-danger mt-1">Vui lòng chọn danh mục</div>
                            </ng-container>
                        </div>
                    </div> 
                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">
                            Mô tả
                        </label>
                        <div class="col-md-9 col-sm-9 col-xs-12">
                            <p-editor [style]="{'height':'150px'}" formControlName="MoTa"></p-editor>
                            <ng-container *ngIf="submitted && f.MoTa.errors">
                                <div *ngIf="submitted && f.MoTa.errors.required" class="alert alert-danger mt-1">Vui lòng nhập mô tả</div>
                            </ng-container>
                        </div>
                    </div> 
                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">
                            Số lượng <span class="required">*</span>
                        </label>
                        <div class="col-md-9 col-sm-9 col-xs-12">
                            <input type="number" class="form-control" formControlName="SoLuong">
                            <ng-container *ngIf="submitted && f.SoLuong.errors">
                                <div *ngIf="f.SoLuong.errors.required" class="alert alert-danger mt-1">Vui lòng nhập số lượng</div>
                                <div *ngIf="f.SoLuong.errors.pattern" class="alert alert-danger mt-1">Giá trị nhập không hợp lệ</div>
                            </ng-container>
                        </div>
                    </div> 
                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">
                            Giá
                        </label>
                        <div class="col-md-9 col-sm-9 col-xs-12">
                            <input type="number" class="form-control" formControlName="Gia">
                            <ng-container *ngIf="submitted && f.Gia.errors">
                                <div *ngIf="f.Gia.errors.required" class="alert alert-danger mt-1">Vui lòng nhập đơn giá</div>
                                <div *ngIf="f.Gia.errors.pattern" class="alert alert-danger mt-1">Giá trị nhập không hợp lệ</div>
                            </ng-container>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">
                            Ảnh
                        </label>
                        <div class="col-md-9 col-sm-9 col-xs-12">
                            <div *ngIf="!isCreate" class="alert alert-warning mb-1">Có thể bỏ qua ảnh để sử dụng ảnh hiện tại</div>
                            <p-fileUpload #file_image mode="advanced" [showUploadButton]="false" [showCancelButton]="false" chooseLabel ="Chọn ảnh" [multiple]="false" accept="image/*" maxFileSize="1000000">
                            </p-fileUpload>
                            <div *ngIf="submitted && isCreate && !file_image.hasFiles()" class="alert alert-danger mt-1">Vui lòng chọn một file ảnh</div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-success">Lưu</button>
                    <button class="btn btn-primary" type="reset">Làm mới</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Đóng</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div ndt-loading *ngIf="loading"></div>